<h1>Make your form here</h1>

<form action="/pirates" method="post">
  Pirate name: <input type="text" name="pirate[name]" id="pirate[name]">
  Pirate weight: <input type="text" name="pirate[weight]" id="pirate[weight]">
  Pirate height: <input type="text" name="pirate[height]" id="pirate[height]">
  Ship name: <input type="text" name="pirate[ships][][name]" id="ship_name_1">
  Ship type: <input type="text" name="pirate[ships][][type]" id="ship_type_1">
  Ship booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
  Ship name: <input type="text" name="pirate[ships][][name]" id="ship_name_2">
  Ship type: <input type="text" name="pirate[ships][][type]" id="ship_type_2">
  Ship booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  <input type="submit" value="Submit">
</form>
